@font-face {
    font-family: "Roboto condensed regular";
    src: url("../font/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto condensed bold";
    src: url("../font/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
}

h2, h3, h4 {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    font-family: "Roboto condensed bold";
}

body {
    background-color: rgb(13, 32, 71);
    font-family: "Roboto condensed regular";
    padding: 0;
    margin: 0;
}

#header {
    width: 80%;
    height: 90%;
    margin: auto;
    margin-top: 15%;
}

#nav {
    display: flex;
    align-items:center;
    margin: auto;
    margin-top: 1.2rem;
}

.link_nav {
    margin: auto;
    font-size: 12pt;
    font-family: "Roboto condensed regular";
    color : rgb(252, 200, 31);
    text-decoration: none;
}

.link_nav:hover {
    color: white;
}

#bloc_info {
    display: flex;
    flex-direction: column;
    align-items:center;

    border: 1px solid  rgb(84, 138, 238);
    width: 30rem;
    height: auto;
    border-radius: 2rem;
    border-left-style: solid;
    margin: auto;
    margin-top: 2%;
    background-color: rgb(11, 43, 102);
    padding-bottom: 0.6rem;
    padding-top: 1.6rem;
    box-shadow: 0px 0px 10px 5px rgb(19, 64, 150);
}

#span_username {
    color : rgb(252, 200, 31);
    margin-top: 0rem;
}

#p_token {
    color : rgb(252, 200, 31);
    font-size: 8pt;
    font-family: "Roboto condensed regular";
    width: 27rem;
    height: 6rem;
    margin-left: 0.5rem;
    display: block;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    word-break:break-word;
    hyphens: auto;
    
}

#password_info {
    color : rgb(252, 200, 31);
    font-size: 8pt;
    font-family: "Roboto condensed regular";
    width: 27rem;
    display: inline;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    word-break:break-word;
    hyphens: auto;
}

#h3_token {
    width: 28rem;
    height: 6rem;
    display: block;
    margin-top: 1.4rem;
    margin-bottom: -1rem;
}

#bloc_user_add {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 27rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(19, 59, 133);
    border-radius: 0.25rem;
    font-size: 12pt;
    font-family: "Roboto condensed regular";
}

#form_user_add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 28rem;
    margin: auto;
}

.champ_form {
    width: 25rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#champ_username, 
#champ_password,
#champ_active,
#champ_role {
    display: inline;
}

#username,
#password {
    width: 17.85rem;
}

.champ_form label, .label_edit {
    color: rgb(255, 255, 255);
    padding-top: 0.3rem;
}

.champ_form label:hover {
    color: rgb(252, 200, 31);
}

.champ_edit {
    background-color: rgb(40, 73, 133);
    color: rgb(252, 200, 31);
    margin-left: 1rem;
    height: 1.6rem;
    width: 16rem;
    display: inline;
    border-radius: 0.5rem;
    border: 1px solid rgb(84, 138, 238);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.25rem;
}

#champ_active,
#champ_role {
    display: flex;
    justify-content:flex-start;
    font-size: 12pt;
    font-family: "Roboto condensed regular";
    color : rgb(252, 200, 31);
}

.radio_user_add {
    
    margin-left: 1rem;
    margin-right: -0.3rem;
    width: 3rem;
    height: 1rem;
    margin-top: 0.4rem;
    border: 8px solid rgb(84, 138, 238);
    background-color: rgb(40, 73, 133);
    color: rgb(40, 73, 133);
}

.text_radio_user_add {
    padding-top: 0.3rem;
    display: inline;
}

#bloc_button_user_add, 
#bloc_button_user_update {
    display: flex;
    justify-content: space-between;
    margin-top: -0.6rem;
}

input {
    background-color: rgb(40, 73, 133);
    color: rgb(252, 200, 31);
    margin-left: 1rem;
    height: 1.6rem;
    width: 16rem;
    display: inline;
    border-radius: 0.5rem;
    border: 1px solid rgb(84, 138, 238);
    padding-left: 1rem;
    padding-right: 1rem;
}

input:hover {
    background-color:rgb(47, 102, 206);
    border: 1px solid rgb(255, 255, 255);
}

#bloc_user_edit {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 27rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    background-color: rgb(19, 59, 133);
    border-radius: 0.25rem;
    font-size: 12pt;
    font-family: "Roboto condensed regular";
}

#bloc_user_info {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 27rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    background-color: rgb(19, 59, 133);
    border-radius: 0.25rem;
    font-size: 12pt;
    font-family: "Roboto condensed regular";
}

#bloc_user_info p {
    width: 25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color : rgb(255, 255, 255);
    font-size: 12pt;
    font-family: "Roboto condensed regular";
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.button {
    background-color: rgb(40, 73, 133);
    font-family: "Roboto condensed bold";
    width: 12rem;
    height: 2rem;
    border: 1px solid rgb(84, 138, 238);
    color: rgb(252, 200, 31);
    text-align: center;
    text-decoration: none;
    margin-left: 0rem;
    border-radius: 0.5rem;
    font-size: 14px;
    outline: none; 
    margin-top: 0.8rem;
}
.button:hover {
    background-color: rgb(47, 102, 206);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

#p_button_2, 
#p_button_1, 
#p_button_0 {
    margin-top: 0.5rem;
}

#result {
    width: 27rem;
    margin-top: 1rem;
    
    background-color: rgb(19, 59, 133);
    border-radius: 0.25rem;
    font-size: 12pt;
    font-family: "Roboto condensed regular";
    margin-bottom: 1rem;
}

#result li {
    width: 23rem;
    list-style: disc;
    color: white;
}

#bloc_user_info {
    width: 27rem;
    margin-top: 1rem;
    
    background-color: rgb(19, 59, 133);
    border-radius: 0.25rem;
    font-size: 12pt;
    font-family: "Roboto condensed regular";
}

.red_text {
    color: red;
}

.white_text {
    color: white;
}
.green_text {
    color: green;
}

.orange_text {
    color: orange;
}

.orange_2_text {
    color: rgb(252, 200, 31);
}

.yellow_text {
    color: yellow;
}

.blue_text {
    color: rgb(65, 109, 253);
}

#result ul li article {
    
}

#article_user_list {
    color: rgb(252, 200, 31);
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    
    width: 23rem;
    height: 2rem;
}

.button_little {
    background-color: rgb(40, 73, 133);
    font-family: "Roboto condensed bold";
    width: 5rem;
    height: 1.4rem;
    border: 1px solid rgb(84, 138, 238);
    color: rgb(252, 200, 31);
    font-size: 9pt;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
}

.button_little_disabled {
    background-color: rgb(40, 73, 133);
    font-family: "Roboto condensed bold";
    width: 5rem;
    height: 1.4rem;
    border: 1px solid rgb(72, 110, 182);
    color: rgb(151, 174, 204);
    font-size: 9pt;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
}

.button_little:hover {
    background-color: rgb(47, 102, 206);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.p_button_little {
    margin-top: 0.25rem;
}
